@import "tailwindcss";

/* ---------- Theme ---------- */

:root {
  --background: #faf8f5;
  --foreground: #1f1f1f;

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

/* ---------- Base ---------- */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);

  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.font-serif {
  font-family: var(--font-serif);
}

img {
  display: block;
  max-width: 100%;
}